{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
Update Product Viewer
{% endblock %}


{% block content %}

<div class="container my-5 pt-5">
    <h2 class="mainTopic">Update Product Viewer</h2>
    <div class="card container">
        <div class="card-body">
            <form method="POST" class="mb-4" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="image-container" id="image-container">
                    {% for image in product_images %}
                    <div class="image-item">
                        <img src="{{ image }}" alt="Image">
                        <a href="{% url 'cards:remove_product_image' uidb64=uuid image_url=image %}" class="remove-button btn btn-sm danger-btn">X</a>
                    </div>
                    {% endfor %}
                </div>
                {{ form|crispy }}<br>
                <button class="btn main-btn" type="submit">Save</button>
                <a class="btn main-btn" id="back-page">Back</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}