{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
    {% trans 'Password change' %}
{% endblock %}
{% block content %}


{% include 'base/js.html' %}
<script>
    Swal.fire({
        icon: "success",
        title: '{% trans "Success" %}',
        html: "{% trans 'Your password has been changed successfully' %}",
        confirmButtonText: '{% trans "OK" %}',
        confirmButtonColor: '#269ffd'
    }).then(function(isConfirmed) {
            if (isConfirmed){
                document.location.href="/";
            }
        });
    
</script>

{% endblock %}
