{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans 'Forgotten password?' %}{% endblock %}
{% block content %}

<div class="container mt-5 pt-5">
    {% if user.is_authenticated %}
    <div class="col-12 mt-5 text-center">
        <p class="lead alert alert-success"><i class="me-2 fa-solid fa-check-double"></i> {% trans 'You are logged in' %}</p>
        <a href="/" class="btn main-btn">{% trans 'Home Page' %}</a>
    </div>
    {% else %}
    {% include 'base/js.html' %}
    <h2 class="text-primary mt-5 text-center alert alert-info" style="font-size:25px;">{% trans 'Forgotten password?' %}</h2>
    <div class="card container mt-5">
        <script>
            Swal.fire({
                icon: "success",
                title: '{% trans "Success" %}',
                html: "{% trans 'Password Reseted Successfully.' %}",
                confirmButtonText: '{% trans "OK" %}',
                confirmButtonColor: '#269ffd'
            }).then(function(isConfirmed) {
                    if (isConfirmed){
                        document.location.href="/";
                    }
                });
        </script>
    </div>
    {% endif %}
</div>


{% endblock %}
