{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}
   {% trans 'Password change' %}
{% endblock %}

{% block content %}


<div class="container mt-5 pt-5">
    <h2 class="mainTopic">{% trans 'Password change' %}</h2>
    <div class="card container mt-5">
        <div class="card-body">
            <form method="POST" action="" class="password_change">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" name="action" class="btn main-btn">{% trans 'Save' %}</button>
                <a href="{% url 'users:account_update' %}" class="btn main-btn">{% trans 'Back' %}</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}

