{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans 'Forgotten password?' %}{% endblock %}

{% block content %}

<div class="container mt-5 pt-5">
    {% if user.is_authenticated %}
    <div class="col-12 mt-5 text-center">
        <p class="lead alert alert-success"><i class="me-2 fa-solid fa-check-double"></i> {% trans 'You are logged in' %}</p>
        <a href="/" class="btn main-btn">{% trans 'Home Page' %}</a>
    </div>
    {% else %}
    <h2 class="text-primary mt-5 text-center alert alert-info" style="font-size:25px;">{% trans 'Forgotten password?' %}</h2>
    <div class="card container mt-5">
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn main-btn" type="submit">{% trans 'Submit' %}</button>
                <a class="btn main-btn" href="{% url 'users:login' %}">{% trans 'Back' %}</a>
            </form>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
