<div class="d-flex flex-row align-items-center">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <h1>Dashboard</h1>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 mt-3 text-center">
                <div class="card bg-dark bg-gradient text-white">
                    <p class="card-title mt-3">Cards</p>
                    <div class="card-body">
                    <p class="font-weight-bold">1405</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 mt-3 text-center">
                <a class="link-style" href="">
                  <div class="card bg-primary bg-gradient text-white">
                        <p class="card-title mt-3 text-white">Users</p>
                        <div class="card-body">
                            <p class="font-weight-bold">578</p>
                        </div>
                  </div>
                </a>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 mt-3 text-center">
                <a class="link-style" href="">
                    <div class="card bg-success bg-gradient text-white">
                        <p class="card-title mt-3">Sales</p>
                        <div class="card-body">
                            <p class="font-weight-bold">65421 EGP</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>