body {
    direction: ltr !important;
    text-align: left !important;
}

.dropdown-footer {
    display: none !important;
    visibility: hidden !important;
}

.djn-checkbox-select-all {
    padding-right: 130px !important;
    width: 0;
  }

.add-row {
    display: none !important;
}

.inlinechangelink {
    background-color: transparent;
    border: 1px solid transparent;
    padding: 10px 15px !important;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    color: #28a745 !important;
    border-color: #28a745;
}

a[title="View on site"] {
    background-color: transparent;
    border: 1px solid transparent;
    padding: 10px 15px !important;
    margin: 8px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    color: #28a745 !important;
    border-color: #28a745;
}

.main-footer {
    visibility: hidden !important;
}

.brand-link .brand-image {
    float: left;
    line-height: .8;
    margin-left: .8rem;
    margin-right: 0.5rem;
    margin-top: -11px;
    max-height: 50px;
    width: 60px;
    box-shadow: none !important;
}

