{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta charset="utf-8">
		<meta name="theme-color" content="#7975FC" />
		<meta name="description" content="">
		<meta name="robots" content="{% block robots %}index, follow{% endblock %}">
		<title>Chipper Group | {% block title %}{% endblock %}</title>
		{% include 'base/css.html' %}
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />
		<link rel="apple-touch-icon" href="{% static 'img/favicon.ico' %}">
	</head>
	<body>
		<a href="#" id="scrollToTopBtn" class="scrollToTopBtn"></a>
		<div id="preloader"></div>
        <div id="page-container">
            {% block content %}
            {% endblock %}
        </div>

		{% include 'base/footer.html' %}
		{% block extrajs %}
		{% endblock %}
		{% include 'base/js.html' %}
		{% include 'base/messages.html' %}
	</body>
</html>