{% extends 'base.html' %}
{% load static %}
{% load hitcount_tags %}
{% load custom_filters %}
{% block title %}
Dashboard
{% endblock %}
{% block content %}



<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h3>Your Account Details</h3>
            <div class="card w-100 mt-3">
                <div class="card-header">
                    <a href="{% url 'users:account_update' %}" class="btn primary-btn">
                        <i class="fas fa-edit"></i>Edit
                    </a>
                </div>
                <div class="card-body">
                    <p>Username: {{ user.username }}</p>
                    <p>Email:
                        {% if user.email %}
                        {{ user.email }}
                        {% else %}
                        <span class="text-danger">not specified</span>
                        {% endif %}
                    </p>
                    <p>First name:
                        {% if user.first_name %}
                        {{ user.first_name }}
                        {% else %}
                        <span class="text-danger">not specified</span>
                        {% endif %}
                    </p>
                    <p>Last name:
                        {% if user.last_name %}
                        {{ user.last_name }}
                        {% else %}
                        <span class="text-danger">not specified</span>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}